body {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1; /* Allow content to grow and push footer to the bottom */
}


/* Apply margin to the researchersList container */
#researchersList {
    margin-top: 2rem; /* Add top margin */
    margin-left: 20rem; /* Add left margin */
    margin-right: 20rem; /* Add left margin */
    padding: 1rem; /* Optional: Add padding for internal spacing */
}

#researchersListFormer {
    margin-top: 2rem; /* Add top margin */
    margin-left: 20rem; /* Add left margin */
    margin-right: 20rem; /* Add left margin */
    padding: 1rem; /* Optional: Add padding for internal spacing */
}


#mission {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.mission-item {
    flex: 1;
    padding: 0 1rem;
}

.mission-item h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.mission-item p {
    font-size: 1.1rem;
    color: #666;
}

.mission-image {
    flex: 1;
    padding: 0 1rem;
}

.mission-image img {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;
}

/* CSS for the image container */
.mission-image {
    display: inline-block;
    cursor: pointer;
}

/* CSS for the larger image display */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    text-align: center;
}

#lightbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 70%;
    border-radius: 5px;
    background-color:white;
}

.image-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.1em;
}


.identity-logo img{
    width: auto;
    height: 80px;
    display: flex;
}

.mission-item a {
    /* Styles for unvisited links */
    color: rgb(0, 0, 0); /* Change color for unvisited links */
    text-decoration: none; /* Remove underline from unvisited links */
}

.mission-item a:visited {
    /* Styles for visited links */
    color: rgb(0, 0, 0); /* Change color for visited links */
}

.mission-item a:hover {
    /* Styles for link on hover (optional) */
    text-decoration: underline; /* Add underline on hover */
}

/* Media query for mobile devices */
@media (max-width: 768px) {

    body {
        font-family: Roboto;
    }
    

    #mission {
        flex-direction: column; /* Stack missions vertically on smaller screens */
        align-items: center; /* Center items horizontally within the container */
        margin: 5%;
    }

    .mission-item {
        flex: none; /* Reset flex property to default (no flex) */
        width: 100%; /* Set width to 100% for full width on smaller screens */
    }

    .mission-image {
        order: 2; /* Move mission image above mission text */
    }

    #lightbox img {
        max-width: 90%;
        max-height: 70%;
    }

    .identity-logo img{
        height: 50px;
        justify-content: center; /* Center content horizontally */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem; /* Add margin between mission items */ 
    }
}


.profile-details h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.profile-details p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

/* Style for individual researcher */
.researcher_former {
    width: 48%; /* Adjust width to fit two researchers per line */
    margin-bottom: 30px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.researcher_former img {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Create a circular shape for the image */
    
    object-fit: cover; /* Ensure the image covers the circular area */
}


/* Style for profile image */
.profile-img {
    float: left; /* Float the image to the left */
    margin-right: 10px; /* Add margin to separate image from text */
}

/* Style for profile details */
.profile-details {
    overflow: hidden; /* Clear float and contain the details */
}

.researcher {
    display: flex;
    margin-bottom: 30px;
}

.researcher .title {
    font-style: italic;
    color: #666;
}

.researcher img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Create a circular shape for the image */
    margin-right: 20px;
    object-fit: cover; /* Ensure the image covers the circular area */
}

.researcher hr {
    width:800px;
    text-align: left;
    margin-left:0;
}

p.description {
    max-width: 800px; /* Set a specific width */
  }


@media (max-width: 1100px) {
    /* Styles applied when screen width is 768px or less (mobile devices) */
    .container {
        flex-direction: column; /* Stack content in a single column */
        align-items: stretch; /* Stretch items to full width */
    }

    #researchersList,
    #researchersListFormer {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    .mission-item,
    .mission-image {
        padding: 0; /* Remove padding on smaller screens */
        margin-bottom: 0px; /* Add margin between items */
    }

    .researcher-pair {
        flex-direction: column; /* Stack researchers in a single column on smaller screens */
    }

    .researcher_former {
        width: 100%; /* Full width for single researcher on smaller screens */
        flex-direction: row; /* Stack items vertically */
    }

    /* Stack image above profile details for smaller screens */
    .researcher {
        flex-direction: column; /* Stack items vertically */
        margin-left: 15%; /* Add spacing between image and text */
        margin-right: 15%; /* Add spacing between image and text */
        align-items: left;   /* Center items horizontally */
    }

    /* Adjust margin for the image on smaller screens */
    .researcher .profile-img {
        display: flex; /* Use flexbox layout */
        justify-content: center; /* Center content horizontally */
        max-width: calc(100%); /* Set max-width minus margin for image */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    .researcher .profile-img img {
        width: 150px; /* Set width of the image */
        height: 150px; /* Set height of the image */
        border-radius: 50%; /* Create a circular shape for the image */
        object-fit: cover; /* Ensure the image covers the circular area */
    }

    .researcher_former {
        width: 100%; /* Full width for single researcher block on smaller screens */
        display: flex; /* Use flexbox layout */
        align-items: center; /* Center items vertically */
        margin-bottom: 20px; /* Add spacing between each researcher block */
    }
    
    .researcher_former img {
        width: 90px; /* Set a fixed width for the circular image */
        height: 90px; /* Set a fixed height for the circular image */
        border-radius: 50%; /* Create a circular shape for the image */
        margin-right: 20px; /* Add spacing between image and text */
        flex-shrink: 0; /* Prevent image from shrinking */
        object-fit: cover; /* Ensure the image covers the circular area */
    }

    .researcher hr {
        width:100%;
    }
    
    .researcher_info {
        flex-grow: 1; /* Allow the info section to grow and take up remaining space */
        flex: 1; /* Allow info section to take remaining space */
        max-width: 80%; /* Set maximum width to 80% of screen width */
    }
    
    .profile-details h2 {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 0.5rem;
    }
    
    .profile-details p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
    }

    
}

header {
    background-color: #ffffff; /* White background */
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bottom shadow */
    padding: 10px 20px; /* Add padding to create space around the content */
    position: sticky;
    top: 0;
    z-index: 999;
}

h1 {

    text-align: center; /* Center-align the menu items */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Increase margin between navbar items */
}

nav ul li:last-child {
    margin-right: 60; /* Remove margin from the last list item */
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Dark text color */
}

nav {
    text-align: right; /* Align links to the right */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    nav ul {
        text-align: center; /* Center-align the menu items */
        margin-right: 0px; /* Increase margin between navbar items */
    }

    nav ul li {
        display: block;
        margin-bottom: 10px; /* Add spacing between vertical menu items */
        margin-right: 0px; /* Increase margin between navbar items */
    }

    h1 {
        text-align: center; /* Center-align the menu items */
        font-size: 1.3em;
        margin-top: 20px;
    }
}

.news-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.news-item .title-link-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    }

.news-item {
    border-top: 1px solid #000000; /* Left border */
    padding: 1.5rem;
    margin-bottom: 2rem;
    align-items: center; /* Vertically center items */
}

.news-item h2 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
    width: 100%;
    text-decoration: underline;
}

.news-item hr{
    width: 40%;
    text-align: left;
    margin-left:0;
}

.date {
    color: #666;
    margin-left: 1rem;
    margin-right: 2rem;
    width: 100%;
}

.summary {
    color: #444;
    font-size: 1.2rem;
    line-height: 1.4;
}

/* Media query for mobile devices */
@media (max-width: 768px) {

    .news-container {
        flex-direction: column; /* Stack content in a single column */
        align-items: center; /* Stretch items to full width *
        
    }

    .news-item {
        flex-direction: column; /* Stack items vertically */
        border-left: none; /* Remove left border on smaller screens */
        border-right: none; /* Remove right border on smaller screens */
        padding: 1rem; /* Adjust padding for better spacing */
    }

    .news-item .title-link-container {
        display: flex; /* Use flexbox for layout */
        text-align: center;
        }

    .news-item a img{
        margin-left: 0px;
        width: 15px;

    }

    .news-item h2 {
        font-size: 1.1rem;
        text-align: center; /* Center align the title */
    }

    .news-item hr{
        width: 40%;
        margin-left: auto;
    }

    .date {
        font-size: 1rem;
        margin-left: 0; /* Remove left margin on date */
        margin-right: 0; /* Remove right margin on date */
        text-align: center; /* Center align the date on smaller screens */
    }
    .summary{
        font-size: 1rem;
    }
    
}


.hero {
    height: 80vh; /* Full viewport height */
    background-image: url('images/protein2.jpg'); /* Specify the path to your background image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Text color for overlay */
    padding: 20px; /* Optional padding */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}


.hero-content {
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.hero p {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: bold;
}



/* Media query for mobile devices */
@media (max-width: 768px) {

    .hero h1 {
        font-size: 2em; /* Decrease font size for smaller screens */
    }

    .hero p {
        font-size: 1.5em; /* Decrease font size for smaller screens */
    }
}

.links {
    margin-top: 10px;
}

/* Styling for social links container */
.social-links {
    margin-top: 1rem;
}

/* Styling for individual social media icons */
.social-links img {
    width: 20px; /* Adjust the width of the icons */
    height: 20px; /* Adjust the height of the icons */
    margin-right: 10px; /* Add space between icons */
    border-radius: 0%; /* Apply border-radius for rounded shape */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect for social media icons */
.social-links img:hover {
    transform: scale(1.2); /* Scale up the icon on hover */
}


.paper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.paper img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.paper-info {
    flex: 1;
}

.author {
    font-weight: bold;
}

.paper-title {
    text-decoration: none;
    color: #007bff; /* Blue link color */
}

.journal {
    font-style: italic;
}

.cite-button {
    margin-top: 10px;
}

/* Base styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    overflow-y: auto; /* Enable vertical scrolling if needed */

}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .paper {
        font-size: 1rem;
    }

    .popup-content {
        width: 90%; /* Adjust width to 90% of viewport width */
        padding: 10px; /* Reduce padding for smaller screens */
        border-radius: 0; /* Remove border radius for full-width appearance */
    }

    .popup-content h2 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }
}
        
.researcher-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust margin between pairs */
}

.logo-container {
    margin-left: 20px; /* Adjust margin as needed */
}

.logo-container a {
    margin-right: 20px; /* Adjust space between logos */
}


.logo {
    height: 60px; /* Set the desired height for all logos */
    width: auto; /* Maintain aspect ratio */
}

#footer-container {
    min-height: 150px; /* Adjust based on the actual footer height */
    background-color: #f8f9fa; /* Optional: To visualize reserved space */
}

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 20px 0;
    background-color: #f9f9f9;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    /* Styles for unvisited links */
    color: rgb(0, 0, 0); /* Change color for unvisited links */
    text-decoration: none; /* Remove underline from unvisited links */
}

footer a:visited {
    /* Styles for visited links */
    color: rgb(0, 0, 0); /* Change color for visited links */
}

footer a:hover {
    /* Styles for link on hover (optional) */
    text-decoration: underline; /* Add underline on hover */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .logo-container {
        margin-left: 3px; /* Remove left margin on smaller screens */
        margin-right: 3px; /* Remove left margin on smaller screens */
        text-align: center; /* Center-align logos */
    }

    .logo-container a {
        margin-right: 10px; /* Adjust space between logos */
    }

    .logo {
        height: 30px; /* Set the desired height for all logos */
        width: auto; /* Maintain aspect ratio */
    }

    footer {
        font-size: 0.7rem; /* Decrease font size for smaller screens */
    }
}
/* Hamburger menu icon for mobile */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;

}

.navbar-toggle span {
    height: 2px;
    width: 25px;
    background-color: black;
    margin-bottom: 4px;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
        margin-bottom: 8px;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    z-index: 9999; /* make sure it's on top */
}

.loading img {
    width: 60px; /* adjust the size of your loading GIF */
    height: auto;
}

.content {
    display: none; /* hide content by default */
}

